# Задание
Начнём с простого: сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name – какое-нибудь имя в виде строки.

In [3]:
age = 5
name = "Ivan"

# Задание
Создайте список user_info, содержащий 4 элемента в следующем порядке:

2 строки (имя и фамилия пользователя)

1 дробное число (зарплата)

1 целое число (стаж)

In [4]:
info = ["Ivan", "Ivanov", 80000.5, 2]

# Задание
Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries.

Сам список создавать не нужно, он уже находится в переменной salaries.

In [ ]:
first = salaries[0]

# Задание
Добавьте в уже созданный список users элементы 'Voronov' и 42.

Сам список создавать не нужно, он уже находится в переменной users.

In [ ]:
users.append('Voronov')
users.append(42)

# Задание
В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

Сам список создавать не нужно, он уже находится в переменной user_ages.

Пример данных, которые могут быть в user_ages:

user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

Note: в этом задании эти числа нужно печатать (используйте функцию print).

In [ ]:
for user_age in user_ages:
    if user_age > 18:
        print(user_age)

# Задание
Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку:

user_name user_family is position


где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

'junior' — стаж меньше 2 лет

'middle' — стаж больше либо равен 2 лет

'senior' — стаж больше 5 лет

Пример данных, которые могут быть в worker:
worker = ['Olya', 'Silyutina', 350000, 3]

Hint: печатать результат не нужно, просто запишите его в переменную status.

In [ ]:
if worker[3] < 2:
    position = 'junior'
elif worker[3] >= 2 and worker[3] < 5:
    position = 'middle'
else:
    position = 'senior'

status = f'{worker[0]} {worker[1]} is {position}'

# Задание
В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

Сам список создавать не нужно, он уже находится в переменной values.

Пример данных, которые могут быть в values:

values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [ ]:
tens = [num for num in values if num%10 == 0]

# Задание
Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

user_name user_family is position


где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

'junior' — стаж меньше 2 лет

'middle' — стаж больше либо равен 2

'senior' — стаж строго больше 5 лет 

Пример данных, которые могут быть в workers:

workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

Сам список создавать не нужно, он уже находится в переменной workers.

Note: в этом задании эти строки нужно печатать (используйте функцию print).

In [ ]:
for worker in workers:
    if worker[3] < 2:
        print(f'{worker[0]} {worker[1]} is junior')
    elif worker[3] >= 2 and worker[3] <= 5:
        print(f'{worker[0]} {worker[1]} is middle')
    else:
        print(f'{worker[0]} {worker[1]} is senior')

# Задание
Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

Note: необходимо создать переменную lst, а переменные n, N, dn создавать не нужно.

In [ ]:
lst = []

while n <= N:
    lst.append(n)
    n += dn